body {
    font-family: Arial;
    margin: 0;
}

button{
    font-size: 16px;
    height: 50px;
    min-width: 200px;
    padding: 10px;
}

h1{
    color: blue;
    font-family: 'Ms Madi';
}

p{
    margin: 0;
}

[disabled] {
    color: red;
}

#section01 {
    background-color: #386beb;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%
}

#section02 {
    background-color: #e87e6b;
    color: white;
    margin: 20px;
    padding: 10px;
}

#test01{
    background-color: #9ae6e4;
    padding: 10px;
}

#test01 button {
    color: blue;
}

.navbar {
    background-color: #85c997;
    box-sizing: border-box;
    padding: 20px 20px;
}

.navbar_icon{
    background-color: #77bab2;
    display: inline-block;
    font-size: 18px;
}

.navbar_main{
    display: inline-block;
    margin: 5px 10px;
    width: 70%;
}

.navbar_item {
    background-color: #a7ba77;
    border: 2px solid black;
    display: inline-block;
    margin: 0px 10px;
    padding: 5px;
}

.navbar_item a{
    text-decoration: none;
}

