body {
    font-family: Arial;
    margin: 0;
}

button{
    font-size: 16px;
    height: 50px;
    min-width: 200px;
    padding: 10px;
}

h1{
    color: blue;
    font-family: 'Ms Madi';
}

p{
    margin: 0;
}

[disabled] {
    color: red;
}

#section01 {
    background-color: #386beb;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%
}

p:not(.pseudo01) {
    font-style: italic;
}

#section02 {
    background-color: #e87e6b;
    color: white;
    margin: 20px;
    padding: 10px;
}

#test01{
    background-color: #9ae6e4;
    padding: 10px;
}

#test01 button {
    color: blue;
}

.navbar {
    background-color: #85c997;
    box-sizing: border-box;
    padding: 20px 20px;
}

.navbar_icon{
    background-color: #77bab2;
    display: inline-block;
    font-size: 18px;
    width: 25%;
}

.navbar_main{
    display: inline-block;
    margin: 5px 10px;
    text-align: right;
    width: 70%;
}

.navbar_item {
    background-color: #495c19;
    border: 2px solid black;
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
}

.navbar_item a{
    border-bottom: 3px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

.navbar_item a:hover{
    color:aqua;
}

.navbar_item a:active{
    color:#386beb;
}

.pseudo01::first-letter {
    color: #88dbd8;
    font-weight: bold;
    font-size: 18px;
}

