* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

#key_features {
    background-color: #f06059;
    padding: 16px;
}

#key_features .section_title {
    color: white;
    margin: 16px;
}

#section01 {
    background-image: url(images/zen01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    color: white;
    height: 528px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%
}

#section02 {
    background-color: #e87e6b;
    color: white;
    margin: 20px;
    padding: 10px;
}

#test01{
    background-color: #9ae6e4;
    padding: 10px;
}

#test01 button {
    color: blue;
}

.key_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key_image {
    background-color: #e6e6e6;
    border: 2px solid #636363;
    border-radius: 50%;
    height: 128px;
    margin: auto;
    width: 128px;
}

.key_item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key_description {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.navbar {
    background-color: #85c997;
    box-sizing: border-box;
    padding: 20px 20px;
}

.navbar_icon{
    background-color: #77bab2;
    display: inline-block;
    font-size: 18px;
    width: 25%;
}

.navbar_main{
    display: inline-block;
    margin: 5px 5px;
    text-align: right;
    width: 70%;
}

.navbar_item {
    background-color: #495c19;
    border: 2px solid black;
    border-radius: 8px;
    display: inline-block;
    margin: 0px 5px;
    min-width: 100px;
    padding: 10px;
    text-align: center;
}

.navbar_item a{
    border-bottom: 3px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

.navbar_item a:hover{
    color:aqua;
}

.navbar_item a:active{
    color:#386beb;
}

.plan {
    background-color: #d5ffdc;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
    width: 31%;
}

.plan_button {
    background-color: #244f2f;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    font: inherit;
    padding: 8px;
}

.plan_button:hover,
.plan_button:active {
    background-color: white;
    color: #244f2f;    
}

.plan_button:focus {
    outline: none;
}

.plan_features{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.plan_item {
    margin: 8px 0px;
}

.plan_highlight {
    background-color: #6fa879;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    color: white;

}

.plan_h1 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 4px rgb(0, 0, 0, 0.5);
    color: #436c4a;
    padding: 8px;
}

.plan_title {
    color: #495c19;
}

.plan_price {
    color: rgb(159, 159, 159);
}

.plan_highlight .plan_title {
    color: white;
}

.plan_highlight .plan_price {
    color: #244f2f;
}

.product-overview {
    margin: 0px auto;
    margin-bottom: 20px;
    width: 100%;
}

.pseudo01::first-letter {
    color: #88dbd8;
    font-weight: bold;
    font-size: 18px;
}

.section_title {
    color: #2ddf5c;
}
